@charset "UTF-8";
*,
*:before,
*:after {
  box-sizing: border-box;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: "Controllercons";
  src: url("../font/controllercons.woff2?v=1.1.0") format("woff2"), url("../font/controllercons.woff?v=1.1.0") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  color: #fff;
  font: 400 16px/1.6 "Work Sans", sans-serif;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

@media only screen and (min-width: 120em) {
  html {
    font-size: 18px;
  }
}

body {
  background: #000000;
  height: 100%;
  margin: 0;
}

a {
  background-color: transparent;
  color: #1ffb8f;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
  transition: all 0.75s ease;
}

a:focus, a:hover {
  color: #4e00cc;
}

a.twitter-trigger {
  background-color: #1ffb8f;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  font-size: 0.8em;
  height: 1.25em;
  line-height: 1.3;
  text-align: center;
  width: 1.25em;
}

a.twitter-trigger:focus, a.twitter-trigger:hover {
  background-color: #000000;
}

.bmc-button img {
  border-radius: 1.67px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  transition: 0.75s ease;
}

.bmc-button img:hover, .bmc-button img:active, .bmc-button img:focus {
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.2);
  opacity: 0.85;
}

.burger {
  background-color: #1ffb8f;
  display: block;
  height: 4px;
  position: relative;
  transition: all 0.75s ease;
  width: 2em;
}

.burger:before, .burger:after {
  background-color: #1ffb8f;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  transition: all 0.75s ease;
  width: 2em;
}

.burger:before {
  top: -10px;
}

.burger:after {
  bottom: -10px;
}

.button {
  background-color: #1ffb8f;
  border-radius: 0.1em;
  color: #000000;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
  padding: 0.6em 1em;
  text-transform: uppercase;
}

.button:focus, .button:hover {
  background-color: #4e00cc;
  color: #000000;
}

.button.ghost {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.button.ghost:focus, .button.ghost:hover {
  background-color: #1ffb8f;
  border-color: #1ffb8f;
  color: #ffffff;
}

.button-container .button {
  margin-right: 0.5em;
}

.button-container .button:last-child {
  margin-right: auto;
}

code {
  color: #1ffb8f;
  word-break: break-all;
}

#demo-link {
  display: inline-block;
  font-size: 1.2em;
}

.text-align-left {
  text-align: left;
}

h1 {
  font-size: 2.5em;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  color: #4e00cc;
  font-size: 1.9em;
  font-weight: 900;
  text-shadow: 0 2px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

h3 {
  font-size: 1.5em;
  font-weight: 900;
  text-shadow: 0 2px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-top: 1.75em;
}

.section-subtitle,
.section-title {
  margin-top: 0;
}

.section-title-top-margin {
  margin-top: 1em;
}

.cc:before {
  display: inline-block;
  font: normal normal normal 16px/1 Controllercons;
  font-size: inherit;
  speak: none;
  text-decoration: inherit;
}

.cc-nes:before {
  content: '󌀀';
}

/* '\cc000' */
.cc-nes-o:before {
  content: '󌀁';
}

/* '\cc001' */
.cc-megadrive:before {
  content: '󌀂';
}

/* '\cc002' */
.cc-megadrive-o:before {
  content: '󌀃';
}

/* '\cc003' */
.cc-snes:before {
  content: '󌀄';
}

/* '\cc004' */
.cc-snes-o:before {
  content: '󌀅';
}

/* '\cc005' */
.cc-psx:before {
  content: '󌀆';
}

/* '\cc006' */
.cc-psx-o:before {
  content: '󌀇';
}

/* '\cc007' */
.cc-n64:before {
  content: '󌀈';
}

/* '\cc008' */
.cc-n64-o:before {
  content: '󌀉';
}

/* '\cc009' */
.cc-ps2:before {
  content: '󌀐';
}

/* '\cc010' */
.cc-ps2-o:before {
  content: '󌀑';
}

/* '\cc011' */
.cc-xbox:before {
  content: '󌀒';
}

/* '\cc012' */
.cc-xbox-o:before {
  content: '󌀓';
}

/* '\cc013' */
.cc-gamecube:before {
  content: '󌀔';
}

/* '\cc014' */
.cc-gamecube-o:before {
  content: '󌀕';
}

/* '\cc015' */
.cc-xbox360:before {
  content: '󌀖';
}

/* '\cc016' */
.cc-xbox360-o:before {
  content: '󌀗';
}

/* '\cc017' */
.cc-ps3:before {
  content: '󌀘';
}

/* '\cc018' */
.cc-ps3-o:before {
  content: '󌀙';
}

/* '\cc019' */
.cc-wii:before {
  content: '󌀠';
}

/* '\cc020' */
.cc-wii-o:before {
  content: '󌀡';
}

/* '\cc021' */
.cc-wiiu:before {
  content: '󌀢';
}

/* '\cc022' */
.cc-wiiu-o:before {
  content: '󌀣';
}

/* '\cc023' */
.cc-ps4:before {
  content: '󌀤';
}

/* '\cc024' */
.cc-ps4-o:before {
  content: '󌀥';
}

/* '\cc025' */
.cc-xboxone:before {
  content: '󌀦';
}

/* '\cc026' */
.cc-xboxone-o:before {
  content: '󌀧';
}

/* '\cc027' */
.cc-joyconl:before {
  content: '󌀨';
}

/* '\cc028' */
.cc-joyconl-o:before {
  content: '󌀩';
}

/* '\cc029' */
.cc-joyconr:before {
  content: '󌀰';
}

/* '\cc030' */
.cc-joyconr-o:before {
  content: '󌀱';
}

/* '\cc031' */
.cc-atari2600:before {
  content: '󌄀';
}

/* '\cc100' */
.cc-atari2600-o:before {
  content: '󌄁';
}

/* '\cc101' */
.cc-mastersystem:before {
  content: '󌄂';
}

/* '\cc102' */
.cc-mastersystem-o:before {
  content: '󌄃';
}

/* '\cc103' */
.cc-virtualboy:before {
  content: '󌄄';
}

/* '\cc104' */
.cc-virtualboy-o:before {
  content: '󌄅';
}

/* '\cc105' */
.cc-dreamcast:before {
  content: '󌄆';
}

/* '\cc106' */
.cc-dreamcast-o:before {
  content: '󌄇';
}

/* '\cc107' */
.cc-xboxs:before {
  content: '󌄈';
}

/* '\cc108' */
.cc-xboxs-o:before {
  content: '󌄉';
}

/* '\cc109' */
.cc-wiiclassic:before {
  content: '󌄐';
}

/* '\cc110' */
.cc-wiiclassic-o:before {
  content: '󌄑';
}

/* '\cc111' */
.cc-wiiupro:before {
  content: '󌄒';
}

/* '\cc112' */
.cc-wiiupro-o:before {
  content: '󌄓';
}

/* '\cc113' */
.cc-switchpro:before {
  content: '󌄔';
}

/* '\cc114' */
.cc-switchpro-o:before {
  content: '󌄕';
}

/* '\cc115' */
#ad-wrapper {
  padding-top: 1.5em;
}

#ad-wrapper > * {
  margin-left: auto;
  margin-right: auto;
}

#begging {
  margin-left: auto;
  margin-right: auto;
  max-width: 30em;
  padding-top: 3em;
  text-align: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 81.25rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.column-container {
  margin-bottom: 3.5rem;
}

@media only screen and (min-width: 45em) {
  .column-container {
    align-items: flex-start;
    display: flex;
  }
}

.column {
  margin-bottom: 2rem;
}

@media only screen and (min-width: 45em) {
  .column {
    flex: 1 0;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 45em) {
  .column:first-child {
    padding-right: 1.5em;
  }
}

.column:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 45em) {
  .column:last-child {
    padding-left: 1.5em;
  }
}

#download {
  text-align: center;
}

#info .section-title {
  text-align: center;
}

.section:nth-child(even) {
  background-color: #ffffff;
  color: #000000;
}

.section.text-section {
  padding-bottom: 3.5rem;
  padding-top: 3.5rem;
}

@media only screen and (min-width: 45em) {
  .section.text-section {
    padding-bottom: 6rem;
    padding-top: 6rem;
  }
}

#social-buttons {
  display: flex;
  justify-content: center;
  text-align: center;
}

.social-button {
  flex: 1;
  padding: 0 1em;
}

.social-button:first-child {
  text-align: right;
}

.social-button:last-child {
  text-align: left;
}

.sub-section {
  margin-top: 3.5em;
}

@media only screen and (min-width: 45em) {
  .text-area {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (min-width: 52.5em) {
  .text-area {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

.text-area .inline-link {
  background-color: #1ffb8f;
  color: #000000;
  text-decoration: underline;
}

.text-area .inline-link:focus, .text-area .inline-link:hover {
  color: #4e00cc;
}

.grid {
  display: flex;
  flex-flow: row wrap;
}

.cell {
  align-items: center;
  color: #ffffff;
  display: flex;
  height: 9rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 50%;
}

@media only screen and (min-width: 45em) {
  .cell {
    height: 11rem;
  }
}

@media only screen and (min-width: 52.5em) {
  .cell {
    width: 25%;
  }
}

@media only screen and (min-width: 62.5em) {
  .cell {
    height: 16rem;
    width: 25%;
  }
}

@media only screen and (min-width: 120em) {
  .cell {
    height: 22rem;
    width: 20%;
  }
}

.cell:focus i[data-original], .cell:hover i[data-original] {
  opacity: 0;
}

.cell:focus i[data-outlined], .cell:hover i[data-outlined] {
  opacity: 1;
}

.cell i {
  display: inline-block;
  font-size: 5em;
  left: 50%;
  opacity: 1;
  position: absolute;
  top: 50%;
  transition: 0.75s ease;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (min-width: 45em) {
  .cell i {
    font-size: 8em;
  }
}

.cell i[data-outlined] {
  opacity: 0;
}

.cell i:before {
  text-shadow: 0 3px rgba(0, 0, 0, 0.33);
}

.cell .inner {
  flex: 1;
}

header {
  align-items: center;
  background-color: transparent;
  display: flex;
  padding: 1rem;
  position: fixed;
  top: 0;
  transition: all 0.75s ease;
  width: 100%;
  z-index: 1;
}

@media only screen and (min-width: 45em) {
  header {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

header.filled {
  background-color: #4e00cc;
}

header.filled #nav-toggle:focus .burger, header.filled #nav-toggle:hover .burger {
  background-color: #000000;
}

header.filled #nav-toggle:focus .burger:before, header.filled #nav-toggle:focus .burger:after, header.filled #nav-toggle:hover .burger:before, header.filled #nav-toggle:hover .burger:after {
  background-color: #000000;
}

#home-link {
  display: block;
  flex: 1 0;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  height: auto;
  display: block;
  width: 3rem;
}

@media only screen and (min-width: 45em) {
  #logo {
    width: 5rem;
  }
}

#nav-toggle {
  border: 0;
  padding: 0;
}

@media only screen and (min-width: 45em) {
  #nav-toggle {
    display: none;
  }
}

#nav-toggle:focus, #nav-toggle:hover {
  outline: 0;
}

#nav-toggle:focus .burger, #nav-toggle:hover .burger {
  background-color: #4e00cc;
}

#nav-toggle:focus .burger:before, #nav-toggle:focus .burger:after, #nav-toggle:hover .burger:before, #nav-toggle:hover .burger:after {
  background-color: #4e00cc;
}

nav {
  background-color: #3b0099;
  display: none;
  left: 0;
  max-height: 80vh;
  padding: 2rem 2rem 3rem;
  position: absolute;
  top: 100%;
  width: 100%;
}

@media only screen and (min-width: 45em) {
  nav {
    background-color: transparent;
    display: block;
    flex: 2 0;
    padding: 0;
    position: static;
    text-align: right;
    width: auto;
  }
  nav[style] {
    display: block !important;
  }
}

@media only screen and (max-device-width: 44.938em) and (orientation: landscape) {
  nav {
    overflow: scroll;
  }
}

nav ul {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

nav li {
  display: block;
  font-size: 1.2em;
  font-weight: 600;
}

@media only screen and (min-width: 45em) {
  nav li {
    display: inline-block;
    font-size: 1.1em;
  }
}

nav li:last-child {
  margin-top: 0.5em;
}

@media only screen and (min-width: 45em) {
  nav li:last-child {
    margin-top: 0;
  }
}

nav a {
  color: #1ffb8f;
  display: block;
  padding: 0.5em 0.75em;
  text-shadow: 0 3px rgba(0, 0, 0, 0.33);
}

nav a:hover {
  color: #ffffff;
}

nav a:hover:after {
  height: 100%;
}

nav a:focus {
  color: #1ffb8f;
}

nav a.active {
  color: #ffffff !important;
  text-shadow: none;
}

nav a.active:hover {
  color: #000000 !important;
}

nav a.active.button {
  color: #1ffb8f !important;
}

nav a.active.button:hover {
  color: #000000 !important;
}

#hero {
  background: #4e00cc url("../img/hero-background.svg");
  background: url("../img/hero-background.svg"), linear-gradient(#4e00cc, #4700ba);
  background-size: cover;
  display: flex;
  height: 100%;
  font-size: 2em;
  justify-content: center;
}

@media only screen and (min-width: 52.5em) {
  #hero {
    background-attachment: fixed;
    height: 100vh;
  }
}

#hero .caption {
  align-self: flex-end;
  flex: 1 100%;
  font-size: 0.3em;
  max-width: 81.25rem;
  padding: 0 2rem 6rem;
}

@media only screen and (min-width: 45em) {
  #hero .caption {
    font-size: 0.8em;
  }
}

@media only screen and (max-device-width: 44.938em) and (orientation: landscape) {
  #hero .caption {
    font-size: 0.4em;
  }
}

.hero-subtitle,
.hero-title {
  color: #fff;
  line-height: 1;
  margin: 0;
  text-shadow: 0 3px rgba(0, 0, 0, 0.33);
  text-transform: uppercase;
}

#site-footer {
  padding: 1em 0;
  text-align: center;
}

#site-footer p {
  margin: 0;
}

.toggle {
  bottom: 1em;
  right: 1em;
  opacity: 0;
  position: absolute;
  text-align: right;
  transition: opacity 0.75s ease;
}

.toggle.visible {
  opacity: 1;
}

.toggle button {
  border: 0;
  border-radius: 1.2em;
  cursor: pointer;
  height: 1.2em;
  display: block;
  transition: all 0.75s ease;
  width: 1.2em;
}

.toggle button.outline {
  background-color: transparent;
  border: 2px solid #fff;
}

.toggle button.outline:focus, .toggle button.outline:hover {
  border-color: #4e00cc;
  outline: 0;
}

.toggle button.outline.active {
  border-color: #1ffb8f;
}

.toggle button.outline.active:hover {
  border-color: #4e00cc;
}

.toggle button.solid {
  background-color: #fff;
  margin-bottom: 0.5em;
}

.toggle button.solid:focus, .toggle button.solid:hover {
  background-color: #4e00cc;
  outline: 0;
}

.toggle button.solid.active {
  background-color: #1ffb8f;
}

.toggle button.solid.active:hover {
  background-color: #4e00cc;
}

#tooltip {
  background-color: #fff;
  border: 0;
  border-radius: 0.2em;
  bottom: -1.25em;
  color: #000000;
  font-size: 0.8em;
  left: 50%;
  opacity: 0;
  padding: 0.2em;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  transition: opacity 0.75s ease;
}

#tooltip:before {
  border-bottom: 5px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  content: '';
  height: 0;
  left: 50%;
  position: absolute;
  top: -5px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
}

.atari2600 i:before {
  text-shadow: 1px 2px #8f481c;
}

.dreamcast i:before {
  text-shadow: 1px 2px #216ce1;
}

.gamecube i:before {
  text-shadow: 1px 2px #585fc8;
}

.joyconl i:before {
  text-shadow: 1px 2px #00ccf0;
}

.joyconr i:before {
  text-shadow: 1px 2px #ff4a3d;
}

.mastersystem i:before {
  text-shadow: 1px 2px #771516;
}

.megadrive i:before {
  text-shadow: 1px 2px #fe2c2b;
}

.n64 i:before {
  text-shadow: 1px 2px #069330;
}

.nes i:before {
  text-shadow: 1px 2px #da3835;
}

.psx i:before {
  text-shadow: 1px 2px #01cfc5;
}

.ps2 i:before {
  text-shadow: 1px 2px #fc5950;
}

.ps3 i:before {
  text-shadow: 1px 2px #77adeb;
}

.ps4 i:before {
  text-shadow: 1px 2px #f889d6;
}

.snes i:before {
  text-shadow: 1px 2px #edca3a;
}

.switchpro i:before {
  text-shadow: 1px 2px #434449;
}

.virtualboy i:before {
  text-shadow: 1px 2px #ac0002;
}

.wii i:before {
  text-shadow: 1px 2px #ef6886;
}

.wiiclassic i:before {
  text-shadow: 1px 2px #38b3ff;
}

.wiiu i:before {
  text-shadow: 1px 2px #5dd9ff;
}

.wiiupro i:before {
  text-shadow: 1px 2px #b4223a;
}

.xbox i:before {
  text-shadow: 1px 2px #9dcf38;
}

.xboxs i:before {
  text-shadow: 1px 2px #9dcf38;
}

.xbox360 i:before {
  text-shadow: 1px 2px #b5d431;
}

.xboxone i:before {
  text-shadow: 1px 2px #8ac85b;
}

.list {
  list-style: none;
  margin: 0;
  max-width: 30em;
  padding: 0;
}

.list.light li {
  border-bottom-color: rgba(255, 255, 255, 0.33);
}

.list a:not(.twitter-trigger):focus, .list a:not(.twitter-trigger):hover {
  color: #000000;
}

.list li {
  border-bottom: 2px solid #310080;
  display: block;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}

.list li:last-child {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.list ul {
  background-color: #4e00cc;
  color: #ffffff;
  margin-bottom: -0.5em;
  margin-top: 0.5em;
  padding: 0.75em;
}

.list ul code {
  color: #1ffb8f;
}

.list ul .twitter-trigger {
  color: #4e00cc;
}

.list ul ul {
  margin-top: 0;
  padding-left: 1em;
}

.list ul ul li {
  font-size: 0.9em;
}

.list strong {
  font-size: 1.2em;
  text-shadow: 0 2px rgba(0, 0, 0, 0.2);
}

.examples {
  justify-content: space-around;
}

.example {
  flex: 0 0 20%;
  max-width: 20%;
  text-align: center;
}
