*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: "Controllercons";
  src: url("../font/controllercons.woff2?v=1.0.0") format("woff2"), url("../font/controllercons.woff?v=1.0.0") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  color: #fff;
  font: 400 16px/1.6 "Work Sans", sans-serif;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

@media only screen and (min-width: 120em) {
  html {
    font-size: 18px;
  }
}

body {
  background: #082e41;
  height: 100%;
  margin: 0;
}

a {
  background-color: transparent;
  color: #e0db3c;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

a:focus, a:hover {
  color: #da2536;
}

a.twitter-trigger {
  background-color: #e0db3c;
  border-radius: 50%;
  color: #f2f6f9;
  display: inline-block;
  font-size: 0.8em;
  height: 1.25em;
  line-height: 1.3;
  text-align: center;
  width: 1.25em;
}

a.twitter-trigger:focus, a.twitter-trigger:hover {
  background-color: #082e41;
}

.bmc-button img {
  border-radius: 1.67px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.75s ease;
  transition: 0.75s ease;
}

.bmc-button img:hover, .bmc-button img:active, .bmc-button img:focus {
  -webkit-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.2);
  opacity: 0.85;
}

.burger {
  background-color: #e0db3c;
  display: block;
  height: 4px;
  position: relative;
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
  width: 2em;
}

.burger:before, .burger:after {
  background-color: #e0db3c;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
  width: 2em;
}

.burger:before {
  top: -10px;
}

.burger:after {
  bottom: -10px;
}

.button {
  background-color: #e0db3c;
  border-radius: 0.1em;
  color: #082e41;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
  padding: 0.6em 1em;
  text-transform: uppercase;
}

.button:focus, .button:hover {
  background-color: #da2536;
  color: #082e41;
}

.button.ghost {
  background-color: transparent;
  border: 1px solid #f2f6f9;
  color: #f2f6f9;
}

.button.ghost:focus, .button.ghost:hover {
  background-color: #e0db3c;
  border-color: #e0db3c;
  color: #f2f6f9;
}

.button-container .button {
  margin-right: 0.5em;
}

.button-container .button:last-child {
  margin-right: auto;
}

code {
  color: #da2536;
  word-break: break-all;
}

#demo-link {
  display: inline-block;
  font-size: 1.2em;
}

.text-align-left {
  text-align: left;
}

h1 {
  font-size: 2.5em;
  font-weight: 900;
}

h2 {
  color: #da2536;
  font-size: 1.9em;
  font-weight: 600;
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-top: 1.75em;
}

.section-subtitle,
.section-title {
  margin-top: 0;
}

.cc:before {
  display: inline-block;
  font: normal normal normal 16px/1 Controllercons;
  font-size: inherit;
  speak: none;
  text-decoration: inherit;
}

.cc-nes:before {
  content: "\cc000";
}

.cc-nes-o:before {
  content: "\cc001";
}

.cc-megadrive:before {
  content: "\cc002";
}

.cc-megadrive-o:before {
  content: "\cc003";
}

.cc-snes:before {
  content: "\cc004";
}

.cc-snes-o:before {
  content: "\cc005";
}

.cc-ps1:before {
  content: "\cc006";
}

.cc-ps1-o:before {
  content: "\cc007";
}

.cc-n64:before {
  content: "\cc008";
}

.cc-n64-o:before {
  content: "\cc009";
}

.cc-ps2:before {
  content: "\cc010";
}

.cc-ps2-o:before {
  content: "\cc011";
}

.cc-xbox:before {
  content: "\cc012";
}

.cc-xbox-o:before {
  content: "\cc013";
}

.cc-gamecube:before {
  content: "\cc014";
}

.cc-gamecube-o:before {
  content: "\cc015";
}

.cc-xbox360:before {
  content: "\cc016";
}

.cc-xbox360-o:before {
  content: "\cc017";
}

.cc-ps3:before {
  content: "\cc018";
}

.cc-ps3-o:before {
  content: "\cc019";
}

.cc-wii-remote:before {
  content: "\cc020";
}

.cc-wii-remote-o:before {
  content: "\cc021";
}

.cc-wiiu:before {
  content: "\cc022";
}

.cc-wiiu-o:before {
  content: "\cc023";
}

.cc-ps4:before {
  content: "\cc024";
}

.cc-ps4-o:before {
  content: "\cc025";
}

.cc-xboxone:before {
  content: "\cc026";
}

.cc-xboxone-o:before {
  content: "\cc027";
}

.cc-switch-joycon-l:before {
  content: "\cc028";
}

.cc-switch-joycon-l-o:before {
  content: "\cc029";
}

.cc-switch-joycon-r:before {
  content: "\cc030";
}

.cc-switch-joycon-r-o:before {
  content: "\cc031";
}

.cc-switch:before {
  content: "\cc032";
}

.cc-switch-o:before {
  content: "\cc033";
}

#ad-wrapper {
  padding-top: 1.5em;
}

#ad-wrapper > * {
  margin-left: auto;
  margin-right: auto;
}

#begging {
  margin-left: auto;
  margin-right: auto;
  max-width: 30em;
  padding-top: 3em;
  text-align: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 81.25rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.column-container {
  margin-bottom: 3.5rem;
}

@media only screen and (min-width: 45em) {
  .column-container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.column {
  margin-bottom: 2rem;
}

@media only screen and (min-width: 45em) {
  .column {
    -webkit-box-flex: 1;
        -ms-flex: 1 0;
            flex: 1 0;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 45em) {
  .column:first-child {
    padding-right: 1.5em;
  }
}

.column:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 45em) {
  .column:last-child {
    padding-left: 1.5em;
  }
}

#download {
  text-align: center;
}

#info .section-title {
  text-align: center;
}

.section:nth-child(even) {
  background-color: #f2f6f9;
  color: #082e41;
}

.section.text-section {
  padding-bottom: 3.5rem;
  padding-top: 3.5rem;
}

@media only screen and (min-width: 45em) {
  .section.text-section {
    padding-bottom: 6rem;
    padding-top: 6rem;
  }
}

#social-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.social-button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 1em;
}

.social-button:first-child {
  text-align: right;
}

.social-button:last-child {
  text-align: left;
}

.sub-section {
  margin-top: 3.5em;
}

@media only screen and (min-width: 45em) {
  .text-area {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (min-width: 52.5em) {
  .text-area {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

.text-area .inline-link {
  background-color: #e0db3c;
  color: #082e41;
  text-decoration: underline;
}

.text-area .inline-link:focus, .text-area .inline-link:hover {
  color: #da2536;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.cell {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #082e41;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 9rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 50%;
}

@media only screen and (min-width: 45em) {
  .cell {
    height: 11rem;
  }
}

@media only screen and (min-width: 52.5em) {
  .cell {
    width: 25%;
  }
}

@media only screen and (min-width: 62.5em) {
  .cell {
    width: 20%;
  }
}

@media only screen and (min-width: 120em) {
  .cell {
    height: 15rem;
    width: 16.66%;
  }
}

.cell:focus i[data-original], .cell:hover i[data-original] {
  opacity: 0;
  -webkit-transform: translate(-150%, -50%);
          transform: translate(-150%, -50%);
}

.cell:focus i[data-outlined], .cell:hover i[data-outlined] {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cell i {
  display: inline-block;
  font-size: 5em;
  left: 50%;
  opacity: 1;
  position: absolute;
  top: 50%;
  -webkit-transition: 0.75s ease;
  transition: 0.75s ease;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (min-width: 45em) {
  .cell i {
    font-size: 8em;
  }
}

@media only screen and (min-width: 62.5em) {
  .cell i {
    font-size: 6em;
  }
}

@media only screen and (min-width: 120em) {
  .cell i {
    font-size: 8em;
  }
}

.cell i[data-outlined] {
  opacity: 0;
  -webkit-transform: translate(-150%, -50%);
          transform: translate(-150%, -50%);
}

.cell .inner {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  position: fixed;
  top: 0;
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
  width: 100%;
  z-index: 1;
}

@media only screen and (min-width: 45em) {
  header {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

header.filled {
  background-color: #da2536;
}

header.filled #nav-toggle:focus .burger, header.filled #nav-toggle:hover .burger {
  background-color: #082e41;
}

header.filled #nav-toggle:focus .burger:before, header.filled #nav-toggle:focus .burger:after, header.filled #nav-toggle:hover .burger:before, header.filled #nav-toggle:hover .burger:after {
  background-color: #082e41;
}

#home-link {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  height: auto;
  display: block;
  width: 3rem;
}

@media only screen and (min-width: 45em) {
  #logo {
    width: 5rem;
  }
}

#nav-toggle {
  border: 0;
  padding: 0;
}

@media only screen and (min-width: 45em) {
  #nav-toggle {
    display: none;
  }
}

#nav-toggle:focus, #nav-toggle:hover {
  outline: 0;
}

#nav-toggle:focus .burger, #nav-toggle:hover .burger {
  background-color: #da2536;
}

#nav-toggle:focus .burger:before, #nav-toggle:focus .burger:after, #nav-toggle:hover .burger:before, #nav-toggle:hover .burger:after {
  background-color: #da2536;
}

nav {
  background-color: #ae1e2b;
  display: none;
  left: 0;
  max-height: 80vh;
  padding: 2rem 2rem 3rem;
  position: absolute;
  top: 100%;
  width: 100%;
}

@media only screen and (min-width: 45em) {
  nav {
    background-color: transparent;
    display: block;
    -webkit-box-flex: 2;
        -ms-flex: 2 0;
            flex: 2 0;
    padding: 0;
    position: static;
    text-align: right;
    width: auto;
  }
  nav[style] {
    display: block !important;
  }
}

@media only screen and (max-device-width: 44.938em) and (orientation: landscape) {
  nav {
    overflow: scroll;
  }
}

nav ul {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

nav li {
  display: block;
  font-size: 1.2em;
  font-weight: 600;
}

@media only screen and (min-width: 45em) {
  nav li {
    display: inline-block;
    font-size: 1.1em;
  }
}

nav li:last-child {
  margin-top: 0.5em;
}

@media only screen and (min-width: 45em) {
  nav li:last-child {
    margin-top: 0;
  }
}

nav a {
  color: #e0db3c;
  display: block;
  padding: 0.5em 0.75em;
}

nav a:hover {
  color: #f2f6f9;
}

nav a:hover:after {
  height: 100%;
}

nav a:focus {
  color: #e0db3c;
}

nav a.active {
  color: #082e41 !important;
}

nav a.active:hover {
  color: #f2f6f9 !important;
}

#hero {
  background: #082e41 url("../img/hero-background.svg");
  background: url("../img/hero-background.svg"), -webkit-gradient(linear, left top, left bottom, from(#082e41), to(#062331));
  background: url("../img/hero-background.svg"), linear-gradient(#082e41, #062331);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  font-size: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 52.5em) {
  #hero {
    background-attachment: fixed;
    height: 100vh;
  }
}

#hero .caption {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  font-size: 0.3em;
  max-width: 81.25rem;
  padding: 0 2rem 6rem;
}

@media only screen and (min-width: 45em) {
  #hero .caption {
    font-size: 0.8em;
  }
}

@media only screen and (max-device-width: 44.938em) and (orientation: landscape) {
  #hero .caption {
    font-size: 0.4em;
  }
}

.hero-subtitle,
.hero-title {
  color: #fff;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
}

#site-footer {
  padding: 1em 0;
  text-align: center;
}

#site-footer p {
  margin: 0;
}

.toggle {
  bottom: 1em;
  right: 1em;
  opacity: 0;
  position: absolute;
  text-align: right;
  -webkit-transition: opacity 0.75s ease;
  transition: opacity 0.75s ease;
}

.toggle.visible {
  opacity: 1;
}

.toggle button {
  border: 0;
  border-radius: 1.2em;
  cursor: pointer;
  height: 1.2em;
  display: block;
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
  width: 1.2em;
}

.toggle button.outline {
  background-color: transparent;
  border: 2px solid #fff;
}

.toggle button.outline:focus, .toggle button.outline:hover {
  border-color: #da2536;
  outline: 0;
}

.toggle button.outline.active {
  border-color: #e0db3c;
}

.toggle button.outline.active:hover {
  border-color: #da2536;
}

.toggle button.solid {
  background-color: #fff;
  margin-bottom: 0.5em;
}

.toggle button.solid:focus, .toggle button.solid:hover {
  background-color: #da2536;
  outline: 0;
}

.toggle button.solid.active {
  background-color: #e0db3c;
}

.toggle button.solid.active:hover {
  background-color: #da2536;
}

#tooltip {
  background-color: #fff;
  border: 0;
  border-radius: 0.2em;
  bottom: -1.25em;
  color: #082e41;
  font-size: 0.8em;
  left: 50%;
  opacity: 0;
  padding: 0.2em;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: opacity 0.75s ease;
  transition: opacity 0.75s ease;
}

#tooltip:before {
  border-bottom: 5px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  content: '';
  height: 0;
  left: 50%;
  position: absolute;
  top: -5px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
}

.nes {
  background-color: #d2d2d2;
}

.snes {
  background-color: #d2d2d2;
}

.megadrive {
  background-color: #000;
  color: #f2f6f9;
}

.n64 {
  background-color: #b9b9b9;
}

.psx {
  background-color: #9e9e9e;
}

.gamecube {
  background-color: #585fc8;
  color: #f2f6f9;
}

.ps2 {
  background-color: #000;
  color: #f2f6f9;
}

.xbox {
  background-color: #000;
  color: #f2f6f9;
}

.ps3 {
  background-color: #000;
  color: #f2f6f9;
}

.xbox-360 {
  background-color: #f7f7ed;
}

.wii-remote {
  background-color: #fff;
}

.wiiu {
  background-color: #fff;
}

.ps4 {
  background-color: #000;
  color: #f2f6f9;
}

.xbox-one {
  background-color: #000;
  color: #f2f6f9;
}

.switch {
  background-color: #444;
  color: #f2f6f9;
}

.switch-joycon-l {
  background-color: #00ccf0;
}

.switch-joycon-r {
  background-color: #ff4a3d;
}

.list {
  list-style: none;
  margin: 0;
  max-width: 30em;
  padding: 0;
}

.list.light li {
  border-bottom-color: rgba(242, 246, 249, 0.1);
}

.list a:not(.twitter-trigger):focus, .list a:not(.twitter-trigger):hover {
  color: #082e41;
}

.list li {
  border-bottom: 2px solid rgba(8, 46, 65, 0.1);
  display: block;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}

.list li:last-child {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.list ul {
  background-color: #da2536;
  color: #f2f6f9;
  margin-bottom: -0.5em;
  margin-top: 0.5em;
  padding: 0.75em;
}

.list ul .twitter-trigger {
  color: #da2536;
}

.list strong {
  font-size: 1.2em;
}

.examples {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.example {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
  text-align: center;
}
