@charset "UTF-8";
@font-face {
  font-family: 'controllercons';
  src: url("font/controllercons.woff2?53498356") format("woff2"), url("font/controllercons.woff?53498356") format("woff");
  font-weight: normal;
  font-style: normal; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

@font-face {
  font-family: "controllercons";
  src: url("../font/controllercons.woff2?30719337") format("woff2"), url("../font/controllercons.woff?30719337") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  color: #fff;
  font: 400 16px/1.6 "Work Sans", sans-serif;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }
  @media only screen and (min-width: 120em) {
    html {
      font-size: 18px; } }

body {
  background: #082e41;
  height: 100%;
  margin: 0; }

a {
  background-color: transparent;
  color: #E0DB3C;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
  transition: all 0.75s ease; }
  a:focus, a:hover {
    color: #da2536; }

.burger {
  background-color: #E0DB3C;
  display: block;
  height: 4px;
  position: relative;
  transition: all 0.75s ease;
  width: 2em; }
  .burger:before, .burger:after {
    background-color: #E0DB3C;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    transition: all 0.75s ease;
    width: 2em; }
  .burger:before {
    top: -10px; }
  .burger:after {
    bottom: -10px; }

.button {
  background-color: #E0DB3C;
  border-radius: 0.1em;
  color: #082e41;
  font-weight: 600;
  line-height: 1;
  padding: 0.6em 1em;
  text-transform: uppercase; }
  .button:focus, .button:hover {
    background-color: #da2536;
    color: #082e41; }
  .button.ghost {
    background-color: transparent;
    border: 1px solid #eaeae4;
    color: #eaeae4; }
    .button.ghost:focus, .button.ghost:hover {
      background-color: #E0DB3C;
      border-color: #E0DB3C;
      color: #eaeae4; }

h1 {
  font-size: 2.5em;
  font-weight: 900; }

h2 {
  color: #da2536;
  font-size: 1.9em;
  font-weight: 600; }

h3 {
  font-size: 1.5em;
  font-weight: 600; }

.section-title {
  margin-top: 0; }

[class^="cc-"]:before,
[class*=" cc-"]:before {
  font-family: "controllercons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none; }

.cc-gamecube:before {
  content: '\e800'; }

/* '' */
.cc-gamecube-o:before {
  content: '\e801'; }

/* '' */
.cc-n64:before {
  content: '\e802'; }

/* '' */
.cc-n64-o:before {
  content: '\e803'; }

/* '' */
.cc-nes:before {
  content: '\e804'; }

/* '' */
.cc-nes-o:before {
  content: '\e805'; }

/* '' */
.cc-ps1:before {
  content: '\e806'; }

/* '' */
.cc-ps1-o:before {
  content: '\e807'; }

/* '' */
.cc-ps2:before {
  content: '\e808'; }

/* '' */
.cc-ps2-o:before {
  content: '\e809'; }

/* '' */
.cc-ps3:before {
  content: '\e80a'; }

/* '' */
.cc-ps3-o:before {
  content: '\e80b'; }

/* '' */
.cc-megadrive:before {
  content: '\e80c'; }

/* '' */
.cc-megadrive-o:before {
  content: '\e80d'; }

/* '' */
.cc-snes:before {
  content: '\e80e'; }

/* '' */
.cc-snes-o:before {
  content: '\e80f'; }

/* '' */
.cc-xbox:before {
  content: '\e810'; }

/* '' */
.cc-xbox-o:before {
  content: '\e811'; }

/* '' */
.cc-xbox360:before {
  content: '\e812'; }

/* '' */
.cc-xbox360-o:before {
  content: '\e813'; }

/* '' */
.cc-wii-remote:before {
  content: '\e814'; }

/* '' */
.cc-wii-remote-o:before {
  content: '\e815'; }

/* '' */
.cc-wiiu:before {
  content: '\e816'; }

/* '' */
.cc-wiiu-o:before {
  content: '\e817'; }

/* '' */
.cc-ps4:before {
  content: '\e818'; }

/* '' */
.cc-ps4-o:before {
  content: '\e819'; }

/* '' */
.cc-switch-joycon-l:before {
  content: '\e81a'; }

/* '' */
.cc-switch-joycon-l-o:before {
  content: '\e81b'; }

/* '' */
.cc-switch-joycon-r:before {
  content: '\e81c'; }

/* '' */
.cc-switch-joycon-r-o:before {
  content: '\e81d'; }

/* '' */
.cc-switch:before {
  content: '\e81e'; }

/* '' */
.cc-switch-o:before {
  content: '\e81f'; }

/* '' */
.cc-xboxone:before {
  content: '\e820'; }

/* '' */
.cc-xboxone-o:before {
  content: '\e821'; }

/* '' */
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 81.25rem;
  padding-left: 2rem;
  padding-right: 2rem; }

@media only screen and (min-width: 45em) {
  .column-container {
    align-items: center;
    display: flex; } }

@media only screen and (min-width: 45em) {
  .column {
    flex: 1 0; } }

.section:nth-of-type(even) {
  background-color: #eaeae4;
  color: #082e41; }

.section.text-section {
  padding-bottom: 3.5rem;
  padding-top: 3.5rem; }
  @media only screen and (min-width: 45em) {
    .section.text-section {
      padding-bottom: 6rem;
      padding-top: 6rem; } }
  .section.text-section main {
    padding-left: 10rem;
    padding-right: 10rem; }

.grid {
  display: flex;
  flex-flow: row wrap; }

.cell {
  align-items: center;
  color: #082e41;
  cursor: pointer;
  display: flex;
  height: 20rem;
  height: 25vh;
  position: relative;
  text-align: center;
  transition: opacity 0.75s ease;
  width: 50%; }
  @media only screen and (min-width: 52.5em) {
    .cell {
      width: 25%; } }
  @media only screen and (min-width: 62.5em) {
    .cell {
      width: 20%; } }
  @media only screen and (min-width: 120em) {
    .cell {
      width: 16.66%; } }
  .cell:focus, .cell:hover {
    opacity: 0.8; }
  .cell i {
    font-size: 5em; }
    @media only screen and (min-width: 45em) {
      .cell i {
        font-size: 8em; } }
    .cell i[data-outlined] {
      display: none; }
  .cell .inner {
    flex: 1; }

header {
  align-items: center;
  background-color: transparent;
  display: flex;
  padding: 1rem;
  position: fixed;
  top: 0;
  transition: all 0.75s ease;
  width: 100%;
  z-index: 1; }
  @media only screen and (min-width: 45em) {
    header {
      padding-left: 3rem;
      padding-right: 3rem; } }
  header.filled {
    background-color: #da2536; }

#home-link {
  display: block;
  flex: 1 0;
  margin-left: auto;
  margin-right: auto; }

#logo {
  height: auto;
  display: block;
  width: 3rem; }
  @media only screen and (min-width: 45em) {
    #logo {
      width: 5rem; } }

#nav-toggle {
  border: 0;
  padding: 0; }
  @media only screen and (min-width: 45em) {
    #nav-toggle {
      display: none; } }
  #nav-toggle:focus, #nav-toggle:hover {
    outline: 0; }
    #nav-toggle:focus .burger, #nav-toggle:hover .burger {
      background-color: #082e41; }
      #nav-toggle:focus .burger:before, #nav-toggle:focus .burger:after, #nav-toggle:hover .burger:before, #nav-toggle:hover .burger:after {
        background-color: #082e41; }

nav {
  background-color: #ae1e2b;
  display: none;
  left: 0;
  max-height: 80vh;
  padding: 2rem 2rem 3rem;
  position: absolute;
  top: 100%;
  width: 100%; }
  @media only screen and (min-width: 45em) {
    nav {
      background-color: transparent;
      display: block;
      flex: 2 0;
      padding: 0;
      position: static;
      text-align: right;
      width: auto; }
      nav[style] {
        display: block !important; } }
  @media only screen and (max-device-width: 44.938em) and (orientation: landscape) {
    nav {
      overflow: scroll; } }
  nav ul {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0; }
  nav li {
    display: block;
    font-size: 1.2em;
    font-weight: 600; }
    @media only screen and (min-width: 45em) {
      nav li {
        display: inline-block;
        font-size: 1.1em; } }
    nav li:last-child {
      margin-top: 0.5em; }
      @media only screen and (min-width: 45em) {
        nav li:last-child {
          margin-top: 0; } }
  nav a {
    color: #fff;
    display: block;
    padding: 0.5em 0.75em; }
    nav a:focus, nav a:hover {
      color: #E0DB3C; }
      nav a:focus:after, nav a:hover:after {
        height: 100%; }
    nav a.active {
      color: #E0DB3C; }
      nav a.active:focus, nav a.active:hover {
        color: #082e41; }

#hero {
  background: #082e41 url("../img/hero-background.svg");
  background: url("../img/hero-background.svg"), linear-gradient(#082e41, #062331);
  background-size: cover;
  display: flex;
  height: 100vh;
  font-size: 2em;
  justify-content: center; }
  @media only screen and (min-width: 52.5em) {
    #hero {
      background-attachment: fixed; } }
  #hero .caption {
    align-self: flex-end;
    flex: 1 100%;
    font-size: 0.4em;
    max-width: 81.25rem;
    padding: 0 2rem 6rem; }
    @media only screen and (min-width: 45em) {
      #hero .caption {
        font-size: 0.8em; } }
    @media only screen and (max-device-width: 44.938em) and (orientation: landscape) {
      #hero .caption {
        font-size: 0.4em; } }

.hero-subtitle,
.hero-title {
  color: #fff;
  line-height: 1;
  margin: 0;
  text-transform: uppercase; }

.toggle {
  bottom: 1em;
  right: 1em;
  opacity: 0;
  position: absolute;
  text-align: right;
  transition: opacity 0.75s ease; }
  .toggle.visible {
    opacity: 1; }
  .toggle button {
    border: 0;
    border-radius: 1.2em;
    cursor: pointer;
    height: 1.2em;
    display: block;
    transition: all 0.75s ease;
    width: 1.2em; }
    .toggle button.outline {
      background-color: transparent;
      border: 2px solid #fff; }
      .toggle button.outline:focus, .toggle button.outline:hover {
        border-color: #da2536;
        outline: 0; }
      .toggle button.outline.active {
        border-color: #E0DB3C; }
        .toggle button.outline.active:hover {
          border-color: #da2536; }
    .toggle button.solid {
      background-color: #fff;
      margin-bottom: 0.5em; }
      .toggle button.solid:focus, .toggle button.solid:hover {
        background-color: #da2536;
        outline: 0; }
      .toggle button.solid.active {
        background-color: #E0DB3C; }
        .toggle button.solid.active:hover {
          background-color: #da2536; }

#tooltip {
  background-color: #fff;
  border: 0;
  border-radius: 0.2em;
  bottom: -1.25em;
  color: #082e41;
  font-size: 0.8em;
  left: 50%;
  opacity: 0;
  padding: 0.2em;
  position: absolute;
  transform: translateX(-50%);
  transition: opacity 0.75s ease; }
  #tooltip:before {
    border-bottom: 5px solid #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: '';
    height: 0;
    left: 50%;
    position: absolute;
    top: -5px;
    transform: translateX(-50%);
    width: 0; }

.nes {
  background-color: #d2d2d2; }

.snes {
  background-color: #d2d2d2; }

.megadrive {
  background-color: #000000;
  color: #eaeae4; }

.n64 {
  background-color: #b9b9b9; }

.psx {
  background-color: #9e9e9e; }

.gamecube {
  background-color: #585fc8; }

.ps2 {
  background-color: #000000;
  color: #eaeae4; }

.xbox {
  background-color: #000000;
  color: #eaeae4; }

.ps3 {
  background-color: #000000;
  color: #eaeae4; }

.xbox-360 {
  background-color: #f7f7ed; }

.wii-remote {
  background-color: #fff; }

.wii-u {
  background-color: #fff; }

.ps4 {
  background-color: #000;
  color: #eaeae4; }

.xbox-one {
  background-color: #000;
  color: #eaeae4; }

/*
.switch {
	background-color: $switch-hex;
	color: $light;
}
*/
.switch-joycon-l {
  background-color: #00ccf0; }

.switch-joycon-r {
  background-color: #ff4a3d; }

.list {
  list-style: none;
  margin: 0;
  max-width: 14em;
  padding: 0; }
  .list li {
    border-bottom: 2px solid rgba(8, 46, 65, 0.1);
    display: block;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em; }
    .list li:last-child {
      border: 0;
      margin-bottom: 0;
      padding-bottom: 0; }
