.background {

	&-action {
		background-color: var(--colour-action);
	}

	&-gradient {
		background: linear-gradient(var(--colour-action), var(--colour-secondary));
	}

	&-primary {
		background-color: var(--colour-primary);
		color: var(--colour-tertiary);

		&-tint {
			// background-color: var(--colour-primary-tint);
		}
	}
}