@include utility(font) {

	&-size {

		&--1 {
			font-size: 1rem;
		}

		&--sm {
			font-size: 0.778rem;
		}

		&--md {
			font-size: 1.22rem;
		}

		&--lg {
			font-size: 1.56rem;
		}

		&--xl {
			font-size: 2.67rem;
		}
	}
}

// para md
// letter-spacing: 0.035ch;
