@include utility(margin) {

	&-b {
		
		&--sm {
			margin-bottom: 0.5rem;
		}

		&--md {
			margin-bottom: $spacing-md;
		}
		
		&--lg {
			margin-bottom: $spacing-lg;
		}
	}

	&-t {

		&--sm {
			margin-top: 0.5rem;
		}

		&--lg {
			margin-top: $spacing-lg;
		}
	}

	&-x {

		&--auto {
			margin-left: auto;
			margin-right: auto;
		}
	}

	&-y {

		&--md {
			margin-bottom: $spacing-md;
			margin-top: $spacing-md;
		}
	}
}