@include utility(padding) {

	&--lg {
		padding: $spacing-lg;
	}

	&-bottom {

		&--xl {
			padding-bottom: 4.6rem;
		}
	}

	&-y {

		&--xxl {
			padding-bottom: 7rem;
			padding-top: 7rem;
		}

		&--xl {
			padding-bottom: 4.6rem;
			padding-top: #{$spacing-lg * 2};

			@include media(">=37.5rem") {
				padding-top: 4.6rem;
			}
		}
	}
}