button[aria-label][data-balloon-pos] {
	overflow: visible;
}
 
[aria-label][data-balloon-pos] {
	cursor: pointer;
	position: relative;

	&::before,
	&::after {
		opacity: 0;
		pointer-events: none;
		position: absolute;
		transition: all 0.18s ease-out 0.18s;
		z-index: 10;
	}

	&::before {
		border: 5px solid transparent;
		border-top-color: $primary;
		content: "";
		height: 0;
		width: 0;
	}

	&::after {
		background: $primary;
		border-radius: 1em;
		color: $tertiary;
		content: attr(aria-label);
		font-size: $size-sm;
		font-style: normal;
		font-weight: normal;
		padding: 0.5em 1em;
		text-indent: 0;
		text-shadow: none;
		white-space: nowrap;
	}

	&:hover {

		&::before,
		&::after {
			opacity: 1;
			pointer-events: none;
		}
	}

	&[data-balloon-pos="down"] {

		&::before,
		&::after {
			left: 50%;
			top: 100%;
			transform: translate(-50%, -4px);
		}

		&::before {
			border: 5px solid transparent;
			border-bottom-color: $primary;
			height: 0;
			width: 0;
		}

		&::after {
			margin-top: 10px;
		}

		&:hover {

			&::before,
			&::after {
				transform: translate(-50%, 0);
			}
		}
	}
}