.nav {
	align-items: center;
	background-color: var(--secondary-color);
	display: flex;
	height: 100%;
	justify-content: center;
	opacity: 0;
	position: fixed;
	right: 0;
	@include transition("opacity, width");
	top: 0;
	visibility: hidden;
	width: 0;
	z-index: 9;

	&-list {
		text-align: center;

		&__item {
			
			&:not(:last-child) {
				font-size: 1.25rem;
			}

			&:last-child {
				line-height: 1.44;
			}
		}

		&__link {
			text-decoration: none;
			@include transition(color);

			&:not(.button) {
				color: var(--accent-color);

				&:focus,
				&:hover {
					color: var(--primary-color);
				}
			}
		}
	}

	&--open {
		opacity: 1;
		visibility: visible;
		width: 100%;
	}
}