.nav {

	&--main {

		a {
			color: var(--colour-tertiary);
			font-size: 1em;
			text-decoration: none;

			@include media($breakpoint-sm) {
				font-size: $size-md;
			}

			&:hover {
				color: var(--colour-action);
			}

			&.active {
				color: var(--colour-tertiary) !important;

				&:hover {
					color: var(--colour-primary) !important;
				}
			}
		}

		li {

			&:not(:last-child) {
				margin-right: var(--spacing-md);
			}
		}
	}
}