.sticky-container {
	padding-top: 1rem;

	& + .section {
		background-color: var(--secondary-color);
		position: relative;
		z-index: 1;
	}

	.u\:padding-y--xxl {
		padding-bottom: 3.77em;
		padding-top: 3.77em;
	}
}

.sticky-widget {
	align-items: center;
	background-color: var(--secondary-color);
	border-radius: 1.111em 1.111em 0 0;
	bottom: 0;
	@include box-shadow();
	display: flex;
	gap: 2rem;
	left: $spacing-lg;
	justify-content: center;
	padding-top: 1.15rem;
	padding-bottom: 0.95rem;
	position: sticky;
	width: calc(100% - #{$spacing-lg * 2});

	@include media(">=39.75rem") {
		left: 50%;
		transform: translateX(-50%);
		width: 19.9rem;
	}
}