.toolbar {
	background: linear-gradient(var(--colour-action), var(--colour-secondary));
	border-bottom-left-radius: 1em;
	border-top-left-radius: 1em;
	position: absolute;
	right: 0;
	width: var(--spacing-lg);

	&__button {
		background-color: transparent;
		color: var(--colour-primary);
		display: block;
		height: 3rem;
		text-align: center;
		width: 100%;

		@include media($breakpoint-md) {
			height: 5rem;
		}

		&:hover {
			background-color: var(--colour-primary);
			color: var(--colour-tertiary);
			opacity: 1;

			.icon {

				&--duotone,
				&--solid {
					background-color: var(--colour-tertiary);
				}
			}
		}

		.icon {

			&--duotone,
			&--solid {
				background-color: var(--colour-primary);
			}
		}

		&:first-child {
			border-top-left-radius: 1em;
		}

		&:last-child {
			border-bottom-left-radius: 1em;
		}

		&--active {
			background-color: var(--colour-primary);
			color: var(--colour-tertiary);

			&:hover {
				background-color: var(--colour-primary-tint);
				color: var(--colour-primary);

				.icon {

					&--duotone,
					&--solid {
						background-color: var(--colour-primary);
					}
				}
			}

			.icon {

				&--duotone,
				&--solid {
					background-color: var(--colour-tertiary);
				}
			}
		}
	}
}