.grid {
	display: grid;
	gap: $spacing-lg;

	&--content {
		grid-template-rows: auto 1fr;

		@include media(">=47.5rem") {
			grid-template-columns: 13rem 1fr;
			grid-template-rows: auto;
		}

		main {
			min-width: 0;
		}

		nav {
			position: sticky;
			top: $spacing-lg;
		}
	}
	
	&--demo {
		grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));

		div {
			display: flex;
			gap: 0.5rem;
			flex-direction: column;
			padding: 1em;
			text-align: center;
		}

		.class-name {
			font-family: $code-stack;
			font-size: 0.778rem;
		}

		.unicode-character {
			font-size: 2.5rem;
		}
	}

	&--icons {
		grid-template-columns: repeat(2, 1fr);

		[data-scroll-animation] {

			&.animate {

				&:nth-child(2n) {
					transition-delay: 0.4s;
				}

				&:nth-child(2n - 1) {
					transition-delay: 0.2s;
				}
			}
		}

		@include media(">=33.75rem") {
			grid-template-columns: repeat(3, 1fr);

			[data-scroll-animation] {

				&.animate {

					&:nth-child(3n) {
						transition-delay: 0.6s;
					}

					&:nth-child(3n - 1) {
						transition-delay: 0.4s;
					}

					&:nth-child(3n - 2) {
						transition-delay: 0.2s;
					}
				}
			}
		}

		@include media(">=43.75rem") {
			grid-template-columns: repeat(4, 1fr);

			[data-scroll-animation] {

				&.animate {

					&:nth-child(4n) {
						transition-delay: 0.8s;
					}

					&:nth-child(4n - 1) {
						transition-delay: 0.6s;
					}

					&:nth-child(4n - 2) {
						transition-delay: 0.4s;
					}

					&:nth-child(4n - 3) {
						transition-delay: 0.2s;
					}
				}
			}
		}

		@include media(">=61.25rem") {
			grid-template-columns: repeat(5, 1fr);

			[data-scroll-animation] {

				&.animate {

					&:nth-child(5n) {
						transition-delay: 1s;
					}

					&:nth-child(5n - 1) {
						transition-delay: 0.8s;
					}

					&:nth-child(5n - 2) {
						transition-delay: 0.6s;
					}

					&:nth-child(5n - 3) {
						transition-delay: 0.4s;
					}

					&:nth-child(5n - 4) {
						transition-delay: 0.2s;
					}
				}
			}
		}

		@include media(">=70rem") {
			grid-template-columns: repeat(6, 1fr);

			[data-scroll-animation] {

				&.animate {

					&:nth-child(6n) {
						transition-delay: 1.2s;
					}

					&:nth-child(6n - 1) {
						transition-delay: 1s;
					}

					&:nth-child(6n - 2) {
						transition-delay: 0.8s;
					}
	
					&:nth-child(6n - 3) {
						transition-delay: 0.6s;
					}
	
					&:nth-child(6n - 4) {
						transition-delay: 0.4s;
					}
	
					&:nth-child(6n - 5) {
						transition-delay: 0.2s;
					}
				}
			}
		}

		.card {
			position: relative;
			width: 100%;
		}

		.controllercon {
			opacity: 0;
			overflow: visible;
			transform: translate3d(0, 0, 0);
			@include transition(opacity);
		
			&:not(.controllercon--solid) {
				left: 1.778em;
				position: absolute;
				top: 1.778em;
				width: calc(100% - (1.778em * 2));
			}
		}
	}
}