.grid {
	display: flex;
	flex-flow: row wrap;
}

.cell {
	align-items: center;
	color: $dark;
	cursor: pointer;
	display: flex;
	height: 20rem;
	height: 25vh;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 50%;
	
	@media only screen and (min-width: $breakpoint-medium) {
		width: 25%;
	}
	
	@media only screen and (min-width: $breakpoint-large) {
		width: 20%;
	}
	
	@media only screen and (min-width: $breakpoint-mecha) {
		width: 16.66%;	
	}
	
	&:focus,
	&:hover {
		
		i {
			&[data-original] {
				opacity: 0;
				transform: translateX(-150%);
			}
			
			&[data-outlined] {
				opacity: 1;
				transform: translateX(-50%);
			}
		}
		
	}
	
	i {
		display: inline-block;
		font-size: 5em;
		left: 50%;
		opacity: 1;
		position: absolute;
		top: 0;
		transition: $duration $timing;
		transform: translateX(-50%);
		
		@media only screen and (min-width: $breakpoint-small) {
			font-size: 8em;
		}
		
		&[data-outlined] {
			//display: none;
			opacity: 0;
			transform: translateX(-150%);
		}
	}
	
	.inner {
		flex: 1;
	}
}