.grid {
	display: flex;
	flex-flow: row wrap;
}

.cell {
	align-items: center;
	color: $dark;
	cursor: pointer;
	display: flex;
	height: 9rem;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 50%;
	
	@media only screen and (min-width: $breakpoint-small) {
		height: 11rem;
	}
	
	@media only screen and (min-width: $breakpoint-medium) {
		width: 25%;
	}
	
	@media only screen and (min-width: $breakpoint-large) {
		width: 20%;
	}
	
	@media only screen and (min-width: $breakpoint-mecha) {
		height: 15rem;
		width: 16.66%;	
	}
	
	&:focus,
	&:hover {
		
		i {
			&[data-original] {
				opacity: 0;
				transform: translate(-150%, -50%);
			}
			
			&[data-outlined] {
				opacity: 1;
				transform: translate(-50%, -50%);
			}
		}
		
	}
	
	i {
		display: inline-block;
		font-size: 5em;
		left: 50%;
		opacity: 1;
		position: absolute;
		top: 50%;
		transition: $duration $timing;
		transform: translate(-50%, -50%);
		
		@media only screen and (min-width: $breakpoint-small) {
			font-size: 8em;
		}
				
		@media only screen and (min-width: $breakpoint-large) {
			font-size: 6em;
		}
		
		@media only screen and (min-width: $breakpoint-mecha) {
			font-size: 8em;
		}
		
		&[data-outlined] {
			//display: none;
			opacity: 0;
			transform: translate(-150%, -50%);
		}
	}
	
	.inner {
		flex: 1;
	}
}