.grid {
	display: flex;
	flex-flow: row wrap;
}

.cell {
	align-items: center;
	color: $light;
	display: flex;
	height: 9rem;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 50%;
	
	@media only screen and (min-width: $breakpoint-small) {
		height: 11rem;
	}
	
	@media only screen and (min-width: $breakpoint-medium) {
		width: 25%;
	}
	
	@media only screen and (min-width: $breakpoint-large) {
		height: 16rem;
		width: 25%;
	}
	
	@media only screen and (min-width: $breakpoint-mecha) {
		height: 22rem;
		width: 20%;
	}
	
	&:focus,
	&:hover {
		
		i {
			&[data-original] {
				opacity: 0;
			}
			
			&[data-outlined] {
				opacity: 1;
			}
		}
		
	}
	
	i {
		display: inline-block;
		font-size: 5em;
		left: 50%;
		opacity: 1;
		position: absolute;
		top: 50%;
		transition: $duration $timing;
		transform: translate(-50%, -50%);
		
		@media only screen and (min-width: $breakpoint-small) {
			font-size: 8em;
		}
				
		@media only screen and (min-width: $breakpoint-large) {
			font-size: 12em;
		}
		
		@media only screen and (min-width: $breakpoint-mecha) {
			font-size: 14em;
		}
		
		&[data-outlined] {
			opacity: 0;
		}

		&:before {
			text-shadow: 0 3px rgba(0, 0, 0, 0.33);
		}
	}
	
	.inner {
		flex: 1;
	}
}