header {
	align-items: center;
	background-color: transparent;
	display: flex;
	padding: 1rem;
	position: fixed;
	top: 0;
	transition: all $duration $timing;
	width: 100%;
	z-index: 1;
	
	@media only screen and (min-width: $breakpoint-small) {
		padding-left: 3rem;
		padding-right: 3rem;
	}
	
	&.filled {
		background-color: $main;
	}
}

#home-link {
	display: block;
	flex: 1 0;
	margin-left: auto;
	margin-right: auto;
}

#logo {
	height: auto;
	display: block;
	width: 3rem;
	
	@media only screen and (min-width: $breakpoint-small) {
		width: 5rem;	
	}
}

#nav-toggle {
	border: 0;
	padding: 0;
	
	@media only screen and (min-width: $breakpoint-small) {
		display: none;
	}
	
	&:focus,
	&:hover {
		outline: 0;
		
		.burger {
			background-color: $dark;

			&:before,
			&:after {
				background-color: $dark;
			}		
		}
	}
}

nav {
	background-color: darken($main, 10%);
	display: none;
	left: 0;
	max-height: 80vh;
	padding: 2rem 2rem 3rem;
	position: absolute;
	top: 100%;
	width: 100%;
	
	@media only screen and (min-width: $breakpoint-small) {
		background-color: transparent;
		display: block;
		flex: 2 0;
		padding: 0;
		position: static;
		text-align: right;
		width: auto;
		
		&[style] {
			display: block !important;
		}
	}
	
	@media only screen and (max-device-width: 44.938em) and (orientation: landscape) {
		overflow: scroll;
	}
	
	ul {
		list-style: none;
		margin-bottom: 0;
		margin-top: 0;
		padding-left: 0;
	}
	
	li {
		display: block;
		font-size: 1.2em;
		font-weight: 600;
				
		@media only screen and (min-width: $breakpoint-small) {
			display: inline-block;
			font-size: 1.1em;
		}
		
		&:last-child {
			margin-top: 0.5em;
			
			@media only screen and (min-width: $breakpoint-small) {
				margin-top: 0;	
			}
		}
	}
	
	a {
		color: #fff;
		display: block;
		padding: 0.5em 0.75em;
		
		&:focus,
		&:hover {
			color: $dark;
			
			&:after {
				height: 100%;
			}
		}
	}
}