header {
	align-items: center;
	background-color: darken($main, 5%);
	display: flex;
	padding: 1rem 3rem;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

#home-link {
	display: block;
	flex: 2 0;
	margin-left: auto;
	margin-right: auto;
}

#logo {
	height: auto;
	display: block;
	width: 5rem;
}

nav {
	flex: 2 0;
	text-align: right;
	
	ul {
		list-style: none;
		margin-bottom: 0;
		margin-top: 0;
		padding-left: 0;
	}
	
	li {
		display: inline-block;
		font-size: 1.1em;
		font-weight: 600;
	}
	
	a {
		color: #fff;
		display: block;
		padding: 0.5em 0.75em;
		
		&:focus,
		&:hover {
			
			&:after {
				height: 100%;
			}
		}
	}
}