#ad-wrapper {
	padding-top: 1.5em;
	
	& > * {
		margin-left: auto;
		margin-right: auto;
	}
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: $max-document-width;
	padding-left: 2rem;
	padding-right: 2rem;
}

.column-container {
	
	@media only screen and (min-width: $breakpoint-small) {
		align-items: flex-start;
		display: flex;
	}
}

.column {
	
	@media only screen and (min-width: $breakpoint-small) {
		flex: 1 0;
	}
}

#download {
	text-align: center;
}

#info {
	
	.section-title {
		text-align: center;
	}
}

.section {

	&:nth-child(even) {
		background-color: $light;
		color: $dark;
	}
	
	&.text-section {
		padding-bottom: 3.5rem;
		padding-top: 3.5rem;

		@media only screen and (min-width: $breakpoint-small) {
			padding-bottom: 6rem;
			padding-top: 6rem;
		}
	}
}

#social-buttons {
	padding-top: 3.5rem;
	text-align: center;
	
	& > * {
		
		&:not(h2) {
			display: inline-block;
			margin-left: auto;
			margin-right: 1em;

			&:last-child {
				margin-right: auto;
			}
		}
	}
}

.text-area {
	
	@media only screen and (min-width: $breakpoint-small) {
		padding-left: 5rem;
		padding-right: 5rem;
	}
	
	@media only screen and (min-width: $breakpoint-medium) {
		padding-left: 10rem;
		padding-right: 10rem;
	}
	
	.inline-link {
		background-color: $accent;
		color: $dark;
		text-decoration: underline;
		
		&:focus,
		&:hover {
			color: $main;
		}
	}
}