
.nes {
	//background-color: #f22a2a;
	color: $nes-hex;
}
.snes {
	//background-color: #d28dff;
	color: $snes-hex;
}
.megadrive {
	//background-color: #ef0a0a;
	color: $megadrive-hex;
}
.n64 {
	//background-color: #ffdb2c;
	color: $n64-hex;
}
.psx {
	//background-color: #6effd2;
	color: $psx-hex;
}
.gamecube {
	//background-color: #d2d2d2;
	color: $gamecube-hex;
}
.ps2 {
	color: $ps2-hex;
}
.xbox {
	color: $xbox-hex;
}
.ps3 {
	color: $ps3-hex;
}
.xbox-360 {
	color: $xbox-360-hex;
}