.list {
	list-style: none;
	margin: 0;
	max-width: 30em;
	padding: 0;
	
	&.light {
		
		li {
			border-bottom-color: rgba($light, 0.33);
		}
	}
	
	a {
		
		&:not(.twitter-trigger) {
			
			&:focus,
			&:hover {
				color: $dark;
			}
		}
	}
	
	li {
		border-bottom: 2px solid darken($main, 15%);
		display: block;
		margin-bottom: 0.5em;
		padding-bottom: 0.5em;
		
		&:last-child {
			border: 0;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
	
	ul {
		background-color: $main;
		color: $light;
		margin-bottom: -0.5em;
		margin-top: 0.5em;
		padding: 0.75em;

		code {
			color: $accent;
		}
		
		.twitter-trigger {
			color: $main;
		}

		ul {
			margin-top: 0;
			padding-left: 1em;

			li {
				font-size: 0.9em;
			}
		}
	}
	
	strong {
		font-size: 1.2em;
		text-shadow: 0 2px rgba(0, 0, 0, 0.2);
	}
}