#tooltip {
	background-color: #fff;
	border: 0;
	border-radius: 0.2em;
	bottom: -1.25em;
	color: $dark;
	font-size: 0.8em;
	left: 50%;
	opacity: 0;
	padding: 0.2em;
	position: absolute;
	transform: translateX(-50%);
	transition: opacity $duration $timing;

	&:before {
		border-bottom: 5px solid #fff;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		content: '';
		height: 0;
		left: 50%;
		position: absolute;
		top: -5px;
		transform: translateX(-50%);
		width: 0;
	}
}