.cc {
	
	&:before {
		display: inline-block;
		font: normal normal normal 16px/1 Controllercons;
		font-size: inherit;
		speak: none;
		text-decoration: inherit;
	}
}

.cc-nes:before { content: '󌀀'; } /* '\cc000' */
.cc-nes-o:before { content: '󌀁'; } /* '\cc001' */
.cc-megadrive:before { content: '󌀂'; } /* '\cc002' */
.cc-megadrive-o:before { content: '󌀃'; } /* '\cc003' */
.cc-snes:before { content: '󌀄'; } /* '\cc004' */
.cc-snes-o:before { content: '󌀅'; } /* '\cc005' */
.cc-psx:before { content: '󌀆'; } /* '\cc006' */
.cc-psx-o:before { content: '󌀇'; } /* '\cc007' */
.cc-n64:before { content: '󌀈'; } /* '\cc008' */
.cc-n64-o:before { content: '󌀉'; } /* '\cc009' */
.cc-ps2:before { content: '󌀐'; } /* '\cc010' */
.cc-ps2-o:before { content: '󌀑'; } /* '\cc011' */
.cc-xbox:before { content: '󌀒'; } /* '\cc012' */
.cc-xbox-o:before { content: '󌀓'; } /* '\cc013' */
.cc-gamecube:before { content: '󌀔'; } /* '\cc014' */
.cc-gamecube-o:before { content: '󌀕'; } /* '\cc015' */
.cc-xbox360:before { content: '󌀖'; } /* '\cc016' */
.cc-xbox360-o:before { content: '󌀗'; } /* '\cc017' */
.cc-ps3:before { content: '󌀘'; } /* '\cc018' */
.cc-ps3-o:before { content: '󌀙'; } /* '\cc019' */
.cc-wii:before { content: '󌀠'; } /* '\cc020' */
.cc-wii-o:before { content: '󌀡'; } /* '\cc021' */
.cc-wiiu:before { content: '󌀢'; } /* '\cc022' */
.cc-wiiu-o:before { content: '󌀣'; } /* '\cc023' */
.cc-ps4:before { content: '󌀤'; } /* '\cc024' */
.cc-ps4-o:before { content: '󌀥'; } /* '\cc025' */
.cc-xboxone:before { content: '󌀦'; } /* '\cc026' */
.cc-xboxone-o:before { content: '󌀧'; } /* '\cc027' */
.cc-joyconl:before { content: '󌀨'; } /* '\cc028' */
.cc-joyconl-o:before { content: '󌀩'; } /* '\cc029' */
.cc-joyconr:before { content: '󌀰'; } /* '\cc030' */
.cc-joyconr-o:before { content: '󌀱'; } /* '\cc031' */
.cc-atari2600:before { content: '󌄀'; } /* '\cc100' */
.cc-atari2600-o:before { content: '󌄁'; } /* '\cc101' */
.cc-mastersystem:before { content: '󌄂'; } /* '\cc102' */
.cc-mastersystem-o:before { content: '󌄃'; } /* '\cc103' */
.cc-virtualboy:before { content: '󌄄'; } /* '\cc104' */
.cc-virtualboy-o:before { content: '󌄅'; } /* '\cc105' */
.cc-dreamcast:before { content: '󌄆'; } /* '\cc106' */
.cc-dreamcast-o:before { content: '󌄇'; } /* '\cc107' */
.cc-xboxs:before { content: '󌄈'; } /* '\cc108' */
.cc-xboxs-o:before { content: '󌄉'; } /* '\cc109' */
.cc-wiiclassic:before { content: '󌄐'; } /* '\cc110' */
.cc-wiiclassic-o:before { content: '󌄑'; } /* '\cc111' */
.cc-wiiupro:before { content: '󌄒'; } /* '\cc112' */
.cc-wiiupro-o:before { content: '󌄓'; } /* '\cc113' */
.cc-switchpro:before { content: '󌄔'; } /* '\cc114' */
.cc-switchpro-o:before { content: '󌄕'; } /* '\cc115' */