[class^="cc-"]:before,
[class*=" cc-"]:before {
	font-family: "controllercons";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
}
 
.cc-gamecube:before { content: '\e800'; } /* '' */
.cc-gamecube-o:before { content: '\e801'; } /* '' */
.cc-n64:before { content: '\e802'; } /* '' */
.cc-n64-o:before { content: '\e803'; } /* '' */
.cc-nes:before { content: '\e804'; } /* '' */
.cc-nes-o:before { content: '\e805'; } /* '' */
.cc-ps1:before { content: '\e806'; } /* '' */
.cc-ps1-o:before { content: '\e807'; } /* '' */
.cc-ps2:before { content: '\e808'; } /* '' */
.cc-ps2-o:before { content: '\e809'; } /* '' */
.cc-ps3:before { content: '\e80a'; } /* '' */
.cc-ps3-o:before { content: '\e80b'; } /* '' */
.cc-megadrive:before { content: '\e80c'; } /* '' */
.cc-megadrive-o:before { content: '\e80d'; } /* '' */
.cc-snes:before { content: '\e80e'; } /* '' */
.cc-snes-o:before { content: '\e80f'; } /* '' */
.cc-xbox:before { content: '\e810'; } /* '' */
.cc-xbox-o:before { content: '\e811'; } /* '' */
.cc-xbox360:before { content: '\e812'; } /* '' */
.cc-xbox360-o:before { content: '\e813'; } /* '' */
.cc-wii-remote:before { content: '\e814'; } /* '' */
.cc-wii-remote-o:before { content: '\e815'; } /* '' */
.cc-wiiu:before { content: '\e816'; } /* '' */
.cc-wiiu-o:before { content: '\e817'; } /* '' */
.cc-ps4:before { content: '\e818'; } /* '' */
.cc-ps4-o:before { content: '\e819'; } /* '' */
.cc-switch-joycon-l:before { content: '\e81a'; } /* '' */
.cc-switch-joycon-l-o:before { content: '\e81b'; } /* '' */
.cc-switch-joycon-r:before { content: '\e81c'; } /* '' */
.cc-switch-joycon-r-o:before { content: '\e81d'; } /* '' */
.cc-switch:before { content: '\e81e'; } /* '' */
.cc-switch-o:before { content: '\e81f'; } /* '' */
.cc-xboxone:before { content: '\e820'; } /* '' */
.cc-xboxone-o:before { content: '\e821'; } /* '' */