@font-face {
  font-family: "controllercons";
  src: url('../font/controllercons.woff2?30719337') format('woff2'),
       url('../font/controllercons.woff?30719337') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	color: #fff;
	font: 400 16px/1.6 $main-stack;
	height: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	
	@media only screen and (min-width: $breakpoint-mecha) {
		font-size: 18px;	
	}
}

body {
	background: $dark;
	height: 100%;
	margin: 0;
}

a {
	background-color: transparent;
	color: $accent;
	text-decoration: none;
	-webkit-text-decoration-skip: objects;
	transition: all $duration $timing;
	
	&:focus,
	&:hover {
		color: $main;
	}
}

.burger {
	background-color: $accent;
	display: block;
	height: 4px;
	position: relative;
	transition: all $duration $timing;
	width: 2em;
	
	&:before,
	&:after {
		background-color: $accent;
		content: '';
		height: 4px;
		left: 0;
		position: absolute;
		transition: all $duration $timing;
		width: 2em;
	}
	
	&:before {
		top: -10px;
	}
	
	&:after {
		bottom: -10px;
	}
}

.button {
	background-color: $accent;
	border-radius: 0.1em;
	color: $dark;
	font-weight: 600;
	line-height: 1;
	padding: 0.6em 1em;
	text-transform: uppercase;
	
	&:focus,
	&:hover {
		background-color: $main;
		color: $dark;
	}
	
	&.ghost {
		background-color: transparent;
		border: 1px solid $light;
		color: $light;
		
		&:focus,
		&:hover {
			background-color: $accent;
			border-color: $accent;
			color: $light;
		}
	}
}

.button-container {
	
	.button {
		margin-right: 0.5em;
		
		&:last-child {
			margin-right: auto;
		}
	}
}