h1 {
	font-size: 2.5em;
	font-weight: 900;
	text-transform: uppercase;
}


h2 {
	color: $main;
	font-size: 1.9em;
	font-weight: 900;
	text-shadow: 0 2px rgba(0, 0, 0, 0.2);
	text-transform: uppercase;
}

h3 {
	font-size: 1.5em;
	font-weight: 900;
	text-shadow: 0 2px rgba(0, 0, 0, 0.2);
	text-transform: uppercase;
}

h4 {
	font-size: 1.25em;
}

h5 {
	font-size: 1.1em;
	margin-bottom: 1em;
	margin-top: 1.75em;
}

.section-subtitle,
.section-title {
	margin-top: 0;
}

.section-title-top-margin {
	margin-top: 1em;
}