$duration: 0.75s;
$timing: ease;
$max-document-width: 81.25rem;

$main-stack: "Work Sans", sans-serif;

$dark: #282827;
$light: #f2f2f2;
$accent: #4bff82;
$main: #FF0E3B;

$nes-hex: #d2d2d2;
$snes-hex: #d2d2d2;
$megadrive-hex: #000000;
$n64-hex: #b9b9b9;
$psx-hex: #9e9e9e;
$gamecube-hex: #585fc8;
$ps2-hex: #000000;
$xbox-hex: #000000;
$ps3-hex: #000000;
$xbox-360-hex: #f7f7ed;
$wii-remote-hex: #fff;
$wii-u-hex: #fff;

$breakpoint-small: 45em;
$breakpoint-medium: 52.5em;
$breakpoint-large: 62.5em;
$breakpoint-mecha: 120em;