$version: "1.1.0";

$duration: 0.75s;
$timing: ease;
$max-document-width: 81.25rem;

$main-stack: "Work Sans", sans-serif;

$dark: #000000;
$light: #ffffff;
$accent: #1ffb8f;
$main: #4e00cc;

$atari2600-hex: #8f481c;
$dreamcast-hex: #216ce1;
$gamecube-hex: #585fc8;
$joyconl-hex: #00ccf0;
$joyconr-hex: #ff4a3d;
$mastersystem-hex: #771516;
$megadrive-hex: #fe2c2b;
$n64-hex: #069330;
$nes-hex: #da3835;
$psx-hex: #01cfc5;
$ps2-hex: #fc5950;
$ps3-hex: #77adeb;
$ps4-hex: #f889d6;
$snes-hex: #edca3a;
$switchpro-hex: #434449;
$virtualboy-hex: #ac0002;
$wii-hex: #ef6886;
$wiiclassic-hex: #38b3ff;
$wiiu-hex: #5dd9ff;
$wiiupro-hex: #b4223a;
$xbox-hex: #9dcf38;
$xboxs-hex: #9dcf38;
$xbox360-hex: #b5d431;
$xboxone-hex: #8ac85b;

$breakpoint-small: 45em;
$breakpoint-medium: 52.5em;
$breakpoint-large: 62.5em;
$breakpoint-mecha: 120em;