$duration: 0.75s;
$timing: ease;
$max-document-width: 81.25rem;

$main-stack: "Work Sans", sans-serif;

$dark: #082e41;
$light: #f2f6f9;
$accent: #e0db3c;
$main: #da2536;

$nes-hex: #d2d2d2;
$snes-hex: #d2d2d2;
$megadrive-hex: #000;
$n64-hex: #b9b9b9;
$psx-hex: #9e9e9e;
$gamecube-hex: #585fc8;
$ps2-hex: #000;
$xbox-hex: #000;
$ps3-hex: #000;
$xbox-360-hex: #f7f7ed;
$wii-remote-hex: #fff;
$wiiu-hex: #fff;
$ps4-hex: #000;
$xbox-one-hex: #000;
$switch-hex: #444;
$switch-l-hex: #00ccf0;
$switch-r-hex: #ff4a3d;

$breakpoint-small: 45em;
$breakpoint-medium: 52.5em;
$breakpoint-large: 62.5em;
$breakpoint-mecha: 120em;