@font-face {
  font-family: "controllercons";
  src: url("../font/controllercons.woff2?123") format("woff2"),
       url("../font/controllercons.woff?123") format("woff");
  font-weight: normal;
  font-style: normal;
}

.cc:before {
  display: inline-block;
  font-family: "controllercons";
  font-style: normal;
  text-transform: none;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-align: center;
  text-decoration: inherit;
  width: 1em;
}

.cc-nes:before {
  content: "\cc000";
}

.cc-nes-o:before {
  content: "\cc001";
}

.cc-megadrive:before {
  content: "\cc002";
}

.cc-megadrive-o:before {
  content: "\cc003";
}

.cc-snes:before {
  content: "\cc004";
}

.cc-snes-o:before {
  content: "\cc005";
}

.cc-ps1:before {
  content: "\cc006";
}

.cc-ps1-o:before {
  content: "\cc007";
}

.cc-n64:before {
  content: "\cc008";
}

.cc-n64-o:before {
  content: "\cc009";
}

.cc-ps2:before {
  content: "\cc010";
}

.cc-ps2-o:before {
  content: "\cc011";
}

.cc-xbox:before {
  content: "\cc012";
}

.cc-xbox-o:before {
  content: "\cc013";
}

.cc-gamecube:before {
  content: "\cc014";
}

.cc-gamecube-o:before {
  content: "\cc015";
}

.cc-xbox360:before {
  content: "\cc016";
}

.cc-xbox360-o:before {
  content: "\cc017";
}

.cc-ps3:before {
  content: "\cc018";
}

.cc-ps3-o:before {
  content: "\cc019";
}

.cc-wii-remote:before {
  content: "\cc020";
}

.cc-wii-remote-o:before {
  content: "\cc021";
}

.cc-wiiu:before {
  content: "\cc022";
}

.cc-wiiu-o:before {
  content: "\cc023";
}

.cc-ps4:before {
  content: "\cc024";
}

.cc-ps4-o:before {
  content: "\cc025";
}

.cc-xboxone:before {
  content: "\cc026";
}

.cc-xboxone-o:before {
  content: "\cc027";
}

.cc-switch-joycon-l:before {
  content: "\cc028";
}

.cc-switch-joycon-l-o:before {
  content: "\cc029";
}

.cc-switch-joycon-r:before {
  content: "\cc030";
}

.cc-switch-joycon-r-o:before {
  content: "\cc031";
}

.cc-switch:before {
  content: "\cc032";
}

.cc-switch-o:before {
  content: "\cc033";
}