@font-face {
	font-family: 'controllercons-outline';
	src: url('../font/controllercons-outline.woff2') format('woff2'),
		  url('../font/controllercons-outline.woff') format('woff');
	font-style: normal;
	font-weight: normal;
}

.cco::before {
	font-family: 'controllercons-outline';
}